n8n-workflows/returnpro-notify.json
{
  "name": "ReturnPro — Notify",
  "nodes": [
    {
      "id": "notify-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "returnpro-notify",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "notify-set-running",
      "name": "Set pipeline_run running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.RETURNPRO_SUPABASE_URL }}/rest/v1/pipeline_runs?pipeline_id=eq.{{ $json.body.pipeline_id }}&step=eq.notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"running\",\n  \"started_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "notify-fetch-runs",
      "name": "Fetch all pipeline_runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.RETURNPRO_SUPABASE_URL }}/rest/v1/pipeline_runs?pipeline_id=eq.{{ $('Webhook').item.json.body.pipeline_id }}&select=step,status,started_at,finished_at,result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notify-build-summary",
      "name": "Build summary text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const pipeline_id = $('Webhook').item.json.body.pipeline_id;\nconst runs = Array.isArray($input.item.json) ? $input.item.json : [$input.item.json];\n\nconst lines = runs.map(r => {\n  const duration = (r.started_at && r.finished_at)\n    ? `${Math.round((new Date(r.finished_at) - new Date(r.started_at)) / 1000)}s`\n    : '-';\n  const icon = r.status === 'success' ? '✅' : r.status === 'running' ? '🔄' : r.status === 'failed' ? '❌' : '⏳';\n  return `${icon} ${r.step}: ${r.status} (${duration})`;\n});\n\nconst failed = runs.filter(r => r.status === 'failed').map(r => r.step);\nconst allSuccess = runs.every(r => r.status === 'success');\n\nconst summary = [\n  `Pipeline ${pipeline_id} completed at ${new Date().toISOString()}`,\n  '',\n  ...lines,\n  '',\n  allSuccess ? '✅ All steps succeeded.' : `⚠️ Failed steps: ${failed.join(', ')}`\n].join('\\n');\n\nreturn [{ json: { pipeline_id, summary, all_success: allSuccess, failed_steps: failed, step_count: runs.length } }];"
      }
    },
    {
      "id": "notify-set-success",
      "name": "Set pipeline_run success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.RETURNPRO_SUPABASE_URL }}/rest/v1/pipeline_runs?pipeline_id=eq.{{ $('Build summary text').item.json.pipeline_id }}&step=eq.notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"success\",\n  \"finished_at\": \"{{ $now.toISO() }}\",\n  \"result\": {{ JSON.stringify($('Build summary text').item.json) }}\n}",
        "options": {}
      }
    },
    {
      "id": "notify-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"step\": \"notify\",\n  \"pipeline_id\": \"{{ $('Build summary text').item.json.pipeline_id }}\",\n  \"all_success\": {{ $('Build summary text').item.json.all_success }},\n  \"summary\": {{ JSON.stringify($('Build summary text').item.json.summary) }}\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Set pipeline_run running", "type": "main", "index": 0 }]
      ]
    },
    "Set pipeline_run running": {
      "main": [
        [{ "node": "Fetch all pipeline_runs", "type": "main", "index": 0 }]
      ]
    },
    "Fetch all pipeline_runs": {
      "main": [
        [{ "node": "Build summary text", "type": "main", "index": 0 }]
      ]
    },
    "Build summary text": {
      "main": [
        [{ "node": "Set pipeline_run success", "type": "main", "index": 0 }]
      ]
    },
    "Set pipeline_run success": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
