n8n-workflows/returnpro-dims-check.json
{
  "name": "ReturnPro — Dims Check",
  "nodes": [
    {
      "id": "dims-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "returnpro-dims-check",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "dims-set-running",
      "name": "Set pipeline_run running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.RETURNPRO_SUPABASE_URL }}/rest/v1/pipeline_runs?pipeline_id=eq.{{ $json.body.pipeline_id }}&step=eq.dims_check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"running\",\n  \"started_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "dims-fetch-programs",
      "name": "GET all program codes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.RETURNPRO_DASHBOARD_URL }}/api/admin/program-mappings?action=allProgramCodes",
        "options": {}
      }
    },
    {
      "id": "dims-fetch-sync-result",
      "name": "Fetch sync_dims result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.RETURNPRO_SUPABASE_URL }}/rest/v1/pipeline_runs?pipeline_id=eq.{{ $('Webhook').item.json.body.pipeline_id }}&step=eq.sync_dims&select=result&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "dims-compare",
      "name": "Compare dims",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "jsCode": "const pipeline_id = $('Webhook').item.json.body.pipeline_id;\n\n// Program codes from dashboard API\nconst dashboardBody = $('GET all program codes').item.json;\nconst dashboardCodes = new Set(\n  Array.isArray(dashboardBody) ? dashboardBody.map(p => p.code || p.master_program_id || p.id)\n  : (dashboardBody.codes || dashboardBody.program_codes || [])\n);\n\n// Sync dims result from pipeline_runs\nconst syncRuns = Array.isArray($('Fetch sync_dims result').item.json)\n  ? $('Fetch sync_dims result').item.json\n  : [$('Fetch sync_dims result').item.json];\nconst syncResult = syncRuns[0]?.result || {};\nconst syncCodes = new Set(syncResult.synced_codes || syncResult.program_codes || []);\n\n// Compare\nconst inDashboardNotSync = [...dashboardCodes].filter(c => !syncCodes.has(c));\nconst inSyncNotDashboard = [...syncCodes].filter(c => !dashboardCodes.has(c));\n\nconst match = inDashboardNotSync.length === 0 && inSyncNotDashboard.length === 0;\n\nreturn [{ json: {\n  pipeline_id,\n  match,\n  dashboard_count: dashboardCodes.size,\n  sync_count: syncCodes.size,\n  missing_from_sync: inDashboardNotSync,\n  extra_in_sync: inSyncNotDashboard\n} }];"
      }
    },
    {
      "id": "dims-set-success",
      "name": "Set pipeline_run success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.RETURNPRO_SUPABASE_URL }}/rest/v1/pipeline_runs?pipeline_id=eq.{{ $('Compare dims').item.json.pipeline_id }}&step=eq.dims_check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"success\",\n  \"finished_at\": \"{{ $now.toISO() }}\",\n  \"result\": {{ JSON.stringify($('Compare dims').item.json) }}\n}",
        "options": {}
      }
    },
    {
      "id": "dims-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"step\": \"dims_check\",\n  \"pipeline_id\": \"{{ $('Compare dims').item.json.pipeline_id }}\",\n  \"match\": {{ $('Compare dims').item.json.match }},\n  \"dashboard_count\": {{ $('Compare dims').item.json.dashboard_count }},\n  \"sync_count\": {{ $('Compare dims').item.json.sync_count }},\n  \"missing_from_sync\": {{ JSON.stringify($('Compare dims').item.json.missing_from_sync) }}\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Set pipeline_run running", "type": "main", "index": 0 }]
      ]
    },
    "Set pipeline_run running": {
      "main": [
        [{ "node": "GET all program codes", "type": "main", "index": 0 }]
      ]
    },
    "GET all program codes": {
      "main": [
        [{ "node": "Fetch sync_dims result", "type": "main", "index": 0 }]
      ]
    },
    "Fetch sync_dims result": {
      "main": [
        [{ "node": "Compare dims", "type": "main", "index": 0 }]
      ]
    },
    "Compare dims": {
      "main": [
        [{ "node": "Set pipeline_run success", "type": "main", "index": 0 }]
      ]
    },
    "Set pipeline_run success": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
