n8n-workflows/returnpro-anomaly-scan.json
{
  "name": "ReturnPro — Anomaly Scan",
  "nodes": [
    {
      "id": "anomaly-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "returnpro-anomaly-scan",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "anomaly-set-running",
      "name": "Set pipeline_run running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.RETURNPRO_SUPABASE_URL }}/rest/v1/pipeline_runs?pipeline_id=eq.{{ $json.body.pipeline_id }}&step=eq.anomaly_scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"running\",\n  \"started_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "anomaly-fetch",
      "name": "GET rate anomalies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.RETURNPRO_DASHBOARD_URL }}/api/analytics/rate-anomalies",
        "options": {}
      }
    },
    {
      "id": "anomaly-extract",
      "name": "Extract counts cap top 10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const body = $input.item.json;\nconst pipeline_id = $('Webhook').item.json.body.pipeline_id;\n\n// Support both array root or nested anomalies key\nconst anomalies = Array.isArray(body) ? body : (body.anomalies || body.data || []);\n\nconst total = anomalies.length;\nconst top10 = anomalies\n  .slice(0, 10)\n  .map(a => ({\n    program: a.program_name || a.master_program_id || a.id,\n    rate_delta_pct: a.rate_delta_pct ?? a.delta_pct ?? null,\n    severity: a.severity || null,\n    month: a.month || a.period || null\n  }));\n\nreturn [{ json: { pipeline_id, total_anomalies: total, top10 } }];"
      }
    },
    {
      "id": "anomaly-set-success",
      "name": "Set pipeline_run success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.RETURNPRO_SUPABASE_URL }}/rest/v1/pipeline_runs?pipeline_id=eq.{{ $('Extract counts cap top 10').item.json.pipeline_id }}&step=eq.anomaly_scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.RETURNPRO_SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"success\",\n  \"finished_at\": \"{{ $now.toISO() }}\",\n  \"result\": {{ JSON.stringify($('Extract counts cap top 10').item.json) }}\n}",
        "options": {}
      }
    },
    {
      "id": "anomaly-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"step\": \"anomaly_scan\",\n  \"pipeline_id\": \"{{ $('Extract counts cap top 10').item.json.pipeline_id }}\",\n  \"total_anomalies\": {{ $('Extract counts cap top 10').item.json.total_anomalies }},\n  \"top10\": {{ JSON.stringify($('Extract counts cap top 10').item.json.top10) }}\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Set pipeline_run running", "type": "main", "index": 0 }]
      ]
    },
    "Set pipeline_run running": {
      "main": [
        [{ "node": "GET rate anomalies", "type": "main", "index": 0 }]
      ]
    },
    "GET rate anomalies": {
      "main": [
        [{ "node": "Extract counts cap top 10", "type": "main", "index": 0 }]
      ]
    },
    "Extract counts cap top 10": {
      "main": [
        [{ "node": "Set pipeline_run success", "type": "main", "index": 0 }]
      ]
    },
    "Set pipeline_run success": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
