docs/n8n-workflows/content-pipeline-topic-monitor.json
{
    "updatedAt": "2026-03-24T19:09:29.504Z",
    "createdAt": "2026-03-24T18:30:51.581Z",
    "id": "spYWTTqvcdqScE0d",
    "name": "Content Pipeline \u2014 Topic Monitor",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "schedule-trigger",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                200,
                300
            ],
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 1
                        }
                    ]
                }
            }
        },
        {
            "id": "fetch-github-repos",
            "name": "Fetch GitHub Repos",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                440,
                200
            ],
            "parameters": {
                "url": "http://localhost:1200/github/repos/anthropics/claude-code",
                "method": "GET",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            }
        },
        {
            "id": "fetch-github-issues",
            "name": "Fetch GitHub Issues",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                440,
                420
            ],
            "parameters": {
                "url": "http://localhost:1200/github/issue/anthropics/claude-code",
                "method": "GET",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            }
        },
        {
            "id": "parse-and-dedup",
            "name": "Parse, Dedup & Insert",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                700,
                300
            ],
            "parameters": {
                "jsCode": "// Parse RSS XML from both feeds, dedup against Supabase, insert new items\nconst SUPABASE_URL = '<OPTIMAL_SUPABASE_URL>';\nconst SUPABASE_KEY = '<OPTIMAL_SUPABASE_SERVICE_KEY>';\n\nconst items = [];\n\nfor (const input of $input.all()) {\n  const xml = input.json.data || input.json.body || '';\n  const xmlStr = typeof xml === 'string' ? xml : JSON.stringify(xml);\n  \n  const itemRegex = /<item>(.*?)<\\/item>/gs;\n  let match;\n  \n  while ((match = itemRegex.exec(xmlStr)) !== null) {\n    const itemXml = match[1];\n    const getTag = (tag) => {\n      const m = itemXml.match(new RegExp(`<${tag}>(.*?)<\\/${tag}>`, 's'));\n      return m ? m[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim() : null;\n    };\n    \n    const title = getTag('title');\n    const link = getTag('link');\n    const description = getTag('description');\n    const pubDate = getTag('pubDate');\n    const source = link && link.includes('github.com') ? 'github' : 'rss';\n    \n    items.push({\n      source,\n      source_url: link,\n      source_account: 'anthropics',\n      topic: 'openclaw',\n      title,\n      content: (description || title || 'No content').substring(0, 2000),\n      raw_json: { title, link, description, pubDate },\n      scraped_at: new Date().toISOString(),\n    });\n  }\n}\n\n// Deduplicate locally by source_url\nconst seen = new Set();\nconst unique = items.filter(item => {\n  if (!item.source_url || seen.has(item.source_url)) return false;\n  seen.add(item.source_url);\n  return true;\n});\n\nif (unique.length === 0) {\n  return [{ json: { inserted: 0, message: 'No items parsed' } }];\n}\n\n// Check existing URLs in Supabase\nconst existingRes = await fetch(\n  `${SUPABASE_URL}/rest/v1/content_scraped_items?select=source_url`,\n  { headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}` } }\n);\nconst existing = await existingRes.json();\nconst existingUrls = new Set((existing || []).map(e => e.source_url));\n\nconst newItems = unique.filter(item => !existingUrls.has(item.source_url));\n\nif (newItems.length === 0) {\n  return [{ json: { inserted: 0, message: 'All items already exist' } }];\n}\n\n// Batch insert\nconst insertRes = await fetch(\n  `${SUPABASE_URL}/rest/v1/content_scraped_items`,\n  {\n    method: 'POST',\n    headers: {\n      apikey: SUPABASE_KEY,\n      Authorization: `Bearer ${SUPABASE_KEY}`,\n      'Content-Type': 'application/json',\n      Prefer: 'return=minimal',\n    },\n    body: JSON.stringify(newItems),\n  }\n);\n\nif (!insertRes.ok) {\n  const errText = await insertRes.text();\n  return [{ json: { inserted: 0, error: `Insert failed (${insertRes.status}): ${errText}` } }];\n}\n\nreturn [{ json: { inserted: newItems.length, total_parsed: unique.length, message: `Inserted ${newItems.length} new items` } }];"
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch GitHub Repos",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch GitHub Issues",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch GitHub Repos": {
            "main": [
                [
                    {
                        "node": "Parse, Dedup & Insert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch GitHub Issues": {
            "main": [
                [
                    {
                        "node": "Parse, Dedup & Insert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:Schedule Trigger": {
            "recurrenceRules": []
        }
    },
    "meta": null,
    "pinData": null,
    "versionId": "d289b29b-1995-4784-88b1-9ef90b907abb",
    "activeVersionId": "d289b29b-1995-4784-88b1-9ef90b907abb",
    "versionCounter": 7,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-24T18:30:51.585Z",
            "createdAt": "2026-03-24T18:30:51.585Z",
            "role": "workflow:owner",
            "workflowId": "spYWTTqvcdqScE0d",
            "projectId": "7u5oTwfYTRLwiYwv",
            "project": {
                "updatedAt": "2026-03-10T01:16:44.803Z",
                "createdAt": "2026-01-22T05:47:18.802Z",
                "id": "7u5oTwfYTRLwiYwv",
                "name": "Carlos Lenis <clenis@optimaltech.ai>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "86778a2a-3026-426a-b9bc-e0e85f9e7d3f"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-24T19:09:29.506Z",
        "createdAt": "2026-03-24T19:09:29.506Z",
        "versionId": "d289b29b-1995-4784-88b1-9ef90b907abb",
        "workflowId": "spYWTTqvcdqScE0d",
        "nodes": [
            {
                "id": "schedule-trigger",
                "name": "Schedule Trigger",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    200,
                    300
                ],
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "hours",
                                "hoursInterval": 1
                            }
                        ]
                    }
                }
            },
            {
                "id": "fetch-github-repos",
                "name": "Fetch GitHub Repos",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    440,
                    200
                ],
                "parameters": {
                    "url": "http://localhost:1200/github/repos/anthropics/claude-code",
                    "method": "GET",
                    "options": {
                        "response": {
                            "response": {
                                "responseFormat": "text"
                            }
                        }
                    }
                }
            },
            {
                "id": "fetch-github-issues",
                "name": "Fetch GitHub Issues",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    440,
                    420
                ],
                "parameters": {
                    "url": "http://localhost:1200/github/issue/anthropics/claude-code",
                    "method": "GET",
                    "options": {
                        "response": {
                            "response": {
                                "responseFormat": "text"
                            }
                        }
                    }
                }
            },
            {
                "id": "parse-and-dedup",
                "name": "Parse, Dedup & Insert",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    700,
                    300
                ],
                "parameters": {
                    "jsCode": "// Parse RSS XML from both feeds, dedup against Supabase, insert new items\nconst SUPABASE_URL = '<OPTIMAL_SUPABASE_URL>';\nconst SUPABASE_KEY = '<OPTIMAL_SUPABASE_SERVICE_KEY>';\n\nconst items = [];\n\nfor (const input of $input.all()) {\n  const xml = input.json.data || input.json.body || '';\n  const xmlStr = typeof xml === 'string' ? xml : JSON.stringify(xml);\n  \n  const itemRegex = /<item>(.*?)<\\/item>/gs;\n  let match;\n  \n  while ((match = itemRegex.exec(xmlStr)) !== null) {\n    const itemXml = match[1];\n    const getTag = (tag) => {\n      const m = itemXml.match(new RegExp(`<${tag}>(.*?)<\\/${tag}>`, 's'));\n      return m ? m[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim() : null;\n    };\n    \n    const title = getTag('title');\n    const link = getTag('link');\n    const description = getTag('description');\n    const pubDate = getTag('pubDate');\n    const source = link && link.includes('github.com') ? 'github' : 'rss';\n    \n    items.push({\n      source,\n      source_url: link,\n      source_account: 'anthropics',\n      topic: 'openclaw',\n      title,\n      content: (description || title || 'No content').substring(0, 2000),\n      raw_json: { title, link, description, pubDate },\n      scraped_at: new Date().toISOString(),\n    });\n  }\n}\n\n// Deduplicate locally by source_url\nconst seen = new Set();\nconst unique = items.filter(item => {\n  if (!item.source_url || seen.has(item.source_url)) return false;\n  seen.add(item.source_url);\n  return true;\n});\n\nif (unique.length === 0) {\n  return [{ json: { inserted: 0, message: 'No items parsed' } }];\n}\n\n// Check existing URLs in Supabase\nconst existingRes = await fetch(\n  `${SUPABASE_URL}/rest/v1/content_scraped_items?select=source_url`,\n  { headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}` } }\n);\nconst existing = await existingRes.json();\nconst existingUrls = new Set((existing || []).map(e => e.source_url));\n\nconst newItems = unique.filter(item => !existingUrls.has(item.source_url));\n\nif (newItems.length === 0) {\n  return [{ json: { inserted: 0, message: 'All items already exist' } }];\n}\n\n// Batch insert\nconst insertRes = await fetch(\n  `${SUPABASE_URL}/rest/v1/content_scraped_items`,\n  {\n    method: 'POST',\n    headers: {\n      apikey: SUPABASE_KEY,\n      Authorization: `Bearer ${SUPABASE_KEY}`,\n      'Content-Type': 'application/json',\n      Prefer: 'return=minimal',\n    },\n    body: JSON.stringify(newItems),\n  }\n);\n\nif (!insertRes.ok) {\n  const errText = await insertRes.text();\n  return [{ json: { inserted: 0, error: `Insert failed (${insertRes.status}): ${errText}` } }];\n}\n\nreturn [{ json: { inserted: newItems.length, total_parsed: unique.length, message: `Inserted ${newItems.length} new items` } }];"
                }
            }
        ],
        "connections": {
            "Schedule Trigger": {
                "main": [
                    [
                        {
                            "node": "Fetch GitHub Repos",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Fetch GitHub Issues",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Fetch GitHub Repos": {
                "main": [
                    [
                        {
                            "node": "Parse, Dedup & Insert",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Fetch GitHub Issues": {
                "main": [
                    [
                        {
                            "node": "Parse, Dedup & Insert",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Carlos Lenis",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-24T19:09:29.567Z",
                "id": 43,
                "workflowId": "spYWTTqvcdqScE0d",
                "versionId": "d289b29b-1995-4784-88b1-9ef90b907abb",
                "event": "activated",
                "userId": "86778a2a-3026-426a-b9bc-e0e85f9e7d3f"
            },
            {
                "createdAt": "2026-03-24T19:09:29.550Z",
                "id": 42,
                "workflowId": "spYWTTqvcdqScE0d",
                "versionId": "d289b29b-1995-4784-88b1-9ef90b907abb",
                "event": "deactivated",
                "userId": "86778a2a-3026-426a-b9bc-e0e85f9e7d3f"
            }
        ]
    }
}
